.center-screen-detail {


  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;

  border-radius: 15px;


  box-shadow: rgba(244, 245, 247, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;


}
.button {
 color: white;
 border: 0px solid white;
}
